/main_discordbot/my_bot/node_modules
/discord/bot/config
/discord/bot/node_modules
/server/node_modules
/server/learn-express/node_modules
/server/learn-sequelize/node_modules
/server/learn-sequelize/config/config.json